@import '../../../../variables'

.card
    padding: 10px
    background-color: white
    border: 1px solid #dddddd
    >div
        background-color: $background-color
        border: 1px solid #dddddd
        padding: 5px 5px 70px 10px
        height: 100%
        h3
            font-weight: 500
            color: #3C4251
            margin: 8px 0