<div class="sub-header">
    <app-search-bar class="search-bar-component" (searchText)='getSearchText($event)'></app-search-bar>
</div>
<div class='profiles-container'>

    <mat-table  [dataSource]="dataSource" matSort matSortActive="localid" matSortDirection="asc"
        matSortDisableClear *ngIf="dataSource.data.length > 0 && dataSource.filteredData.length > 0">
        <ng-container matColumnDef="photo">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element"> <img class="profile-image" [src]="element.photo"></mat-cell>
        </ng-container>
        <ng-container matColumnDef="localid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'searchPage.tableHeader.id' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.localid}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'searchPage.tableHeader.email' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'searchPage.tableHeader.name' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.first_name + ' ' + element.last_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'searchPage.tableHeader.phone' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'searchPage.tableHeader.address' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="modified">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'searchPage.tableHeader.modified' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.modified | date:'yyyy-MM-dd'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="view">
            <mat-header-cell *matHeaderCellDef>{{'searchPage.tableHeader.view' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element"><i class="material-icons">keyboard_arrow_right</i></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns" (click)=openProfile(row)></mat-row>
    </mat-table>
    <app-notification-message class="notification" [message]="'searchPage.notification.message' | translate"
        *ngIf="dataSource.filteredData.length === 0 && !isLoading"></app-notification-message>
    <mat-paginator class="table-pagination" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
        *ngIf="dataSource.data.length > 0 && dataSource.filteredData.length > 0"></mat-paginator>
</div>