<app-quick-facts class="quick-fact"></app-quick-facts>
<mat-tab-group class="tabs">
    <mat-tab [label]="'profileDetails.tabs.tab1' | translate">
        <ng-template matTabContent>
            <app-details-tab [profileDetails]="tableData"></app-details-tab>
        </ng-template>
    </mat-tab>
    <mat-tab [label]="'profileDetails.tabs.tab2' | translate">
        <ng-template matTabContent>
            <app-profile-id-tab></app-profile-id-tab>
        </ng-template>
    </mat-tab>
    <mat-tab [label]="'profileDetails.tabs.tab3' | translate">
            <ng-template matTabContent>
                <app-activity-timeline-tab></app-activity-timeline-tab>
            </ng-template>
        </mat-tab>
</mat-tab-group>

<div *ngIf="profile" class="profile-header">
    <div><h1>Profile:</h1></div>
    <div ><img class="profile-img" [src]="profile.photo"></div>
    <div><h1>{{profile.first_name}} {{profile.last_name}}</h1></div>
</div>