@import '../../variables'

.profile-details 
    display: flex

.profile-details__quick-facts-container
    flex: 1
    display flex

.sub-header__quick-facts
    background-color: $header-color
    height: $header-height
    display: flex
    flex-direction: row-reverse


.profile-details__tabs-container
    flex: 3
    display flex

.sub-header__tabs
    background-color: $header-color
    height: $header-height
    display: flex
   

.profile-details__tabs
    flex: 1
    display: block

.quick-facts
    flex: 1
    margin-left: 1rem
    

::ng-deep .mat-tab-label
    color: white




