.sidebar
    background-color: white
    padding: 20px 10px
    width: 240px
    border: 1px solid #dddddd
    box-shadow: 0px 0px 1px 1px #dddddd

.row-update
    position: relative
    margin-top: 20px

.icon-update
    position: absolute
    right: 5px
    top: 0px
    color: #46a0ed

.orange
    color: orange

hr
    margin-top: 10px
    margin-bottom: 20px
    background-color: lightgray
    border-width: 0px
    height: 1px

.icon
    display: inline-block
    vertical-align: top
    margin-right: 10px

.description
    display: inline-block

.span
    span:first-child
        vertical-align: top
    span
        margin-right: 15px

.table
        font-family: arial, sans-serif
        border-collapse: collapse
        width: 100%
        background: white
        margin-top: 10px
        font-size: 13px

        td
            text-align: left
