<div class="quick-facts-container">
    <p class="quick-facts__title">Quick Facts</p>
    <div>
        <div class="quick-facts__section-header">
            <div class="quick-fact__section-title">Status</div>
            <i class="material-icons quick-facts-edit-icon">system_update_alt</i>
        </div>
        <div class="quick-facts__section-info">
            <i class="material-icons quick-facts-avatar-icon">account_box</i>
            <div>
                <div>ID: SH051545</div>
                <div>Tier: Gold</div>
                <div>Pts: 125,024</div>
            </div>
        </div>
    </div>
    <div>
        <div class="quick-facts__section-header">
            <div>Top 3 Facts</div>
            <i class="material-icons quick-facts-edit-icon">system_update_alt</i>
        </div>
        <div class="quick-facts__section-info">
            <i class="material-icons">report</i>
            <div>
                <div>ID: SH051545</div>
                <div>Tier: Gold</div>
                <div>Pts: 125,024</div>
            </div>
        </div>
    </div>
    <div>
        <div class="quick-facts__section-header">
            <div>RFM Score</div>
            <i class="material-icons quick-facts-edit-icon">system_update_alt</i>
        </div>
        <div class="quick-facts__section-info">
            <i class="material-icons quick-facts-char-icon">pie_chart</i>
            <div class="quick-facts__rmp-info">
                <div>R: 70%</div>
                <div>R: 70%</div>
                <div>R: 70%</div>
            </div>
        </div>
    </div>
    <div>
        <div class="quick-facts__section-header">
            <div>Other Facts:</div>
            <i class="material-icons quick-facts-edit-icon">system_update_alt</i>
        </div>
        <table class="table">
                <tr>
                    <td><i class="material-icons">calendar_today</i></td>
                    <td>Total Stays</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td><i class="material-icons">nights_stay</i></td>
                    <td>Nights</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td><i class="material-icons">single_bed</i></td>
                    <td>Avg Stay</td>
                    <td>1.33 nights</td>
                </tr>
                <tr>
                    <td><i class="material-icons">date_range</i></td>
                    <td>Last Visit</td>
                    <td>2018-08-15</td>
                </tr>
                <tr>
                    <td><i class="material-icons">money</i></td>
                    <td>Lifetime Value</td>
                    <td>$3084.29</td>
                </tr>
            </table>
        <!-- <div class="quick-facts__section-other">
            <div class="quick-facts__other-info">
                <div>R: 70%</div>
                <div>R: 70%</div>
                <div>R: 70%</div>
            </div>
            <div class="quick-facts__other-info">
                <div>R: 70%</div>
                <div>R: 70%</div>
                <div>R: 70%</div>
            </div>
            <div class="quick-facts__other-info">
                <div>R: 70%</div>
                <div>R: 70%</div>
                <div>R: 70%</div>
            </div>
            <div class="quick-facts__other-info">
                <div>R: 70%</div>
                <div>R: 70%</div>
                <div>R: 70%</div>
            </div>
            <div class="quick-facts__other-info">
                <div>R: 70%</div>
                <div>R: 70%</div>
                <div>R: 70%</div>
            </div>
        </div> -->
    </div>
</div>

<!-- <div class="sidebar">
    <div>
        <div>Quick Facts</div>
        <div class="row-update">
            <div>Status</div>
            <div class="icon-update"><i class="material-icons">system_update_alt</i></div>
            <hr>
        </div>
    </div>
    <div>
        <div>
            <div class="icon orange"><i class="material-icons">account_box</i></div>
            <div class="description">
                <div>ID: SH051545</div>
                <div>Tier: Gold</div>
                <div>Pts: 125,024</div>
            </div>
        </div>
        <div class="row-update">
            <div>Top 3 Facts</div>
            <div class="icon-update"><i class="material-icons">system_update_alt</i></div>
            <hr>
        </div>
    </div>
    <div>
        <div>
            <div class="icon"><i class="material-icons">error</i></div>
            <div class="description">
                <div>Suite Room</div>
                <div>King Bed</div>
                <div>Highest Floor</div>
            </div>
        </div>
        <div class="row-update">
            <div>RFM Score</div>
            <div class="icon-update"><i class="material-icons">system_update_alt</i></div>
            <hr>
        </div>
    </div>
    <div>
        <div class="span">
            <span><i class="material-icons">system_update_alt</i></span>
            <span>R: 70%</span>
            <span>R: 70%</span>
            <span>R: 70%</span>
        </div>

        <div class="row-update">
            <div>Other Facts</div>
            <div class="icon-update"><i class="material-icons">system_update_alt</i></div>
            <hr>
        </div>
    </div>
    <div>
        <table class="table">
            <tr>
                <td><i class="material-icons">calendar_today</i></td>
                <td>Total Stays</td>
                <td>24</td>
            </tr>
            <tr>
                <td><i class="material-icons">nights_stay</i></td>
                <td>Nights</td>
                <td>32</td>
            </tr>
            <tr>
                <td><i class="material-icons">single_bed</i></td>
                <td>Avg Stay</td>
                <td>1.33 nights</td>
            </tr>
            <tr>
                <td><i class="material-icons">date_range</i></td>
                <td>Last Visit</td>
                <td>2018-08-15</td>
            </tr>
            <tr>
                <td><i class="material-icons">money</i></td>
                <td>Lifetime Value</td>
                <td>$3084.29</td>
            </tr>
        </table>
    </div>
</div> -->