.search-bar
    display: flex
    width: 100%
    justify-content: flex-start
    align-items: center

.search-bar__input
  -webkit-appearance: none
  height: 40px
  width: 80%
  padding-left: 2rem
  border: 0px

.search-bar__button
  height: 40px
  background: none
  border: none
  background-color: #2076A2
  width: 60px
  margin-left: 1rem
  i
    color: white
    vertical-align: middle

